@model MVC5.Models.AnimalViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Animal</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Animal.Id)
        @Html.HiddenFor(model => model.Animal.AnimalID)

        <div class="form-group">
            @Html.LabelFor(model => model.Animal.Type, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Animal.Type)
                @Html.ValidationMessageFor(model => model.Animal.Type)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Animal.Age, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Animal.Age)
                @Html.ValidationMessageFor(model => model.Animal.Age)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Animal.Gender, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Animal.Gender)
                @Html.ValidationMessageFor(model => model.Animal.Gender)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Animal.Nickname, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Animal.Nickname)
                @Html.ValidationMessageFor(model => model.Animal.Nickname)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Animal.StaffId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Animal.StaffId, Model.StaffList, "Choose... ")            

                @Html.ValidationMessageFor(model => model.Animal.StaffId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
