@model MVC5.Models.IndexVidelModel
@{
    ViewBag.Title = "Index";
}

<h2>Management</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
           ID
        </th>
        <th>
            Type
        </th>
        <th>
           Nickname
        </th>
        <th>
            Gender
        </th>
        <th>
           Age
        </th>

        <th>
            Staff
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Animals) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AnimalID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nickname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.StaffId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

<!--- ####################### ZOO KEEPERS  ####################### -->
<p>
    @Html.ActionLink("Create New", "CreateStaff")
</p>

<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
           First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
          Email
        </th>
        <th>
           Phone
        </th>

        <th>
            Available?
        </th>
       
    </tr>

    @foreach (var item in Model.Staffs)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Available)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditStaff", new { id = item.Id }) |
                @Html.ActionLink("Details", "DetailsStaff", new { id = item.Id }) |
                @Html.ActionLink("Delete", "DeleteStaff", new { id = item.Id })
            </td>
        </tr>
    }

</table>
